#facebox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: left;
}

#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  max-width: 550px;
  padding: 11px 8px 15px 7px;
  background: #fff;
  margin:0;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  overflow: auto;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:3px;
  right:3px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 90000;
}
.socialviral-box {display:block;padding: 5px 20px 15px 20px;margin: 9px;border-radius: 5px;-moz-border-radius: 5px; line-height:200%;}
.ssm-socials {margin:7px 0 0 7px;overflow:hidden;}
.ssm-socials div {float:left;margin-right:10px;}
.ssm-author{float:right;margin-right:14px;}
.ssm-author a {color:#999999;text-decoration:none;font-size:12px;letter-spacing:normal;border:none;}
.ssm-author a:hover {color:#999999;text-decoration:none;font-size:12px;letter-spacing:normal;border:none;}
